h1 {

    font-family: Garamond;
	font-size:40px;
	text-align: center;
	color: #2A0A29
	
}
h2 {
    font-family: Arial;
    font-size: 16pt;
    color: rgb(155, 50, 60);
    font-weight: bold;
    text-decoration: underline;
}
p{
    font-family: Calibri, sans-serif;
    font-size:14pt;
    color: #222222;
}
.red{
	font-family: DejaVu Sans;
	font-size:18pt;
	font-weight: bold;
	color: #3B240B;	
	text-decoration: underline
}
.head{
	color: #6E6E6E;
}
.home {
	font-size: 13pt;
}
.info{
	font-family: Arial;
	font-size: 16pt;
	color: #424242;
	text-align: center;
}